name: xmllint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install xmllint
        run: sudo apt-get -y install libxml2-utils
      - name: Check that Servers.xml at least parses cleanly
        run: |
          xmllint Servers.xml
